# Pycaret test

In [1]:
import pandas as pd

#____loading data____
df = pd.read_csv('../data/clean_house.csv')
# df = pd.read_csv('./data/clean_app.csv')

In [2]:
# ____Outliers handling_____
import numpy as np 

Q1 = df["price"].quantile(0.25)
Q3 = df["price"].quantile(0.75)
IQR = Q3 - Q1

max_value = Q3 + (1.5 * IQR)
min_value = Q1 - (1.5 * IQR)

outliers_mask = (df["price"] < min_value) | (df["price"] > max_value)
df.loc[outliers_mask, "price"] = np.nan

df.dropna(subset=["price"], inplace=True)

# preprocessing

In [3]:
# _____dropping unnecessary columns____
# for house and app
columns_to_drop = ['property_id', 'latitude', 'longitude', 'property_type', 'type_of_sale', 'fully_equipped_kitchen', 'locality_name', 'main_city']

df.drop(columns_to_drop, axis=1, inplace=True)

In [4]:
# for app only

# app_columns_to_drop = ['surface_of_good']

# df.drop(app_columns_to_drop, axis=1, inplace=True)

In [5]:
# _____imputing missing values for swimmingpool____
from sklearn.impute import SimpleImputer
import numpy as np

constant_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0)
df[['swimming_pool']] = constant_imputer.fit_transform(df[['swimming_pool']])

In [6]:
# _____one-hot encoding for kitchen_type____
df = pd.get_dummies(df, columns=["kitchen_type"], prefix="kitchen_type")

# _____one-hot encoding for state_of_building____
df = pd.get_dummies(df, columns=["state_of_building"], prefix="state_of_building")

# _____one-hot encoding for property_subtype____
df = pd.get_dummies(df, columns=["property_subtype"], prefix="property_subtype")

# _____one-hot encoding for province____
df = pd.get_dummies(df, columns=["province"], prefix="province")

# Creating a training and test set

In [7]:
# _____defining target and features____

columns_to_drop = ['price']

# Drop the specified columns
X = df.drop(columns=columns_to_drop, axis=1)

y = df['price']

In [8]:
from pycaret.regression import RegressionExperiment
s = RegressionExperiment()
s.setup(X, target = y, session_id = 120, numeric_imputation =-1)

In [9]:
best = s.compare_models()

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,17:28:43
Status,. . . . . . . . . . . . . . . . . .,Fitting 10 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

In [ ]:
s.evaluate_model(best)

In [ ]:
s.plot_model(best, plot = 'residuals')

In [ ]:
s.plot_model(best, plot = 'feature')

---
---